<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-darken">


        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Evacuation Center</h2>

        </header>

        <!-- widget div-->
        <div style="overflow-x:auto;overflow-y:auto;">



            <label class="input">
                <input type="text" name="name" ng-model="findcf"> <i class="icon-append fa fa-search"></i>
            </label>

            <label class="input pull-right">
                <label class="select ">Page Filter
                    <select ng-model="pageSize" ng-options="num for num in [5, 10, 15,20]" ></select> <i></i> </label>
            </label>

            <table id="data" class="table table-striped table-bordered table-hover" width="100%">

                <div id="notif"></div>
                <thead>
                    <tr>
                        <th colspan="14 pull-center" class="text-center th">List of Schools Used as Evacuation Centers</th>
                    </tr>

                    <tr>
                        <th class="text-center th">#</th>
                        <th class="text-center th">Municipality</th>
                        <th class="text-center th">Evacuation Centers/Host Schools</th>
                        <th class="text-center th">Barangays Accomodated</th>
                        <th class="text-center th">No. of families</th>
                        <th class="text-center th">No. of individuals </th>
                        <th colspan="3" class="th">Controls</th>


                    </tr>
                </thead>
                <tbody ng-repeat="cf in data | startFrom:currentPage*pageSize | limitTo:pageSize |filter:findcf">

                    <tr class="text-center" ng-repeat="ncf in cf.center">
                        <td>{{$index + 1}}</td>
                        <td>{{ncf['Municipality']}}</td>
                        <td>{{ncf['List of Schools used as Evacuation Centers or Host Schools']}}</td>
                        <td>{{ncf['Barangays Accomodated']}}</td>
                        <td>{{ncf['Number of families']}}</td>
                        <td>{{ncf['Number  of individuals']}}</td>

                        <td class="col col-4 "><button type="button" class="btn btn-success btn-block " ng-click="selectUser(data)"><i class="icon-append fa fa-pencil"></i> Edit Data</button></td>

                        <td class="col col-4"><button type="button" class="btn btn-info btn-block  " ng-click="printit(data)"><i class="icon-append fa fa-print"></i> Print Data</button></td>

                        <td class="col col-4"><button type="button" class="btn btn-danger btn-block  " ng-click="selectUser2(data)"><i class="icon-append fa fa-minus-circle"></i> Delete Data</button></td>
                    </tr>



                </tbody>



            </table>







        </div>

    </div>

    <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
       Back
      </button>
        <button class="btn btn-primary">{{currentPage+1}} of {{numberOfPages()}}</button>
        <button class="btn btn-primary" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
      </button>
    </div>

</article>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Info.</h4>
            </div>

            <div class="modal-body">


                <form class="smart-form">
                    <!-- <header>Evacuation Center</header> -->

                    <fieldset>
                        <section>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Municipality</label>
                                    <label class="select ">
                                        <select id="editMunicipality" ng-model="clickedUser.municipality">
                                            <option value="0">Choose Municipality</option>
                                            <option value="Legazpi" selected>Legazpi</option>
                                            <option value="Camalig">Camalig</option>
                                            <option value="Guinobatan">Guinobatan</option>
                                            <option value="Manito">Manito</option>
                                            <option value="Libon">Libon</option>
                                            <option value="Ligao">Ligao</option>
                                            <option value="Tiwi">Tiwi</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Evacuation Centers/Host Schools</label>
                                    <label class="input ">
                                        <input type="text" id="editHost" ng-model="clickedUser.host">
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Barangays Accomodated</label>
                                    <label class="input ">
                                        <input type="text" id="editAccomodated" ng-model="clickedUser.accomodated">
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Number of families </label>
                                    <label class="input ">
                                        <input type="text" id="editFamilies" ng-model="clickedUser.families">
                                    </label>
                                </section>

                                <section class="col col-4">
                                    <label class="label">Number of individuals </label>
                                    <label class="input ">
                                        <input type="text" id="editIndividuals" ng-model="clickedUser.individuals">
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Number of classrooms used</label>
                                    <label class="input ">
                                        <input type="text" id="editClassrooms" ng-model="clickedUser.classrooms">
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Date of Evacuation</label>
                                    <label class="input ">
                                        <input type="date" id="editDateOfEvacuation" >
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Date of Decampment</label>
                                    <label class="input ">
                                        <input type="date" id="editDateOfDecampment" >
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Remarks</label>
                                    <label class="textarea ">
                                    <textarea rows="3" id="editRemarks" ng-model="clickedUser.remarks"></textarea>
                                </label>
                                </section>
                            </div>
                            <i></i>
                            <!-- <div class="note note-success">Thanks for your selection.</div> -->
                        </section>
                    </fieldset>

                    <footer>
                        <button type="button" id="submit" class="btn btn-success" ng-click="updateUser()">Save</button>
                        <button type="button" class="btn btn-primary" ng-click="close()">Cancel</button>
                        <!-- <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button> -->
                    </footer>
                </form>


            </div>

        </div>

    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Info.</h4>
            </div>
            <div class="modal-body">


                <p>You want to delete <strong style="color: red;">{{clickedUser.host}}'s</strong> information?</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="close()">No</button>
                <button type="button" class="btn btn-danger" ng-click="deleteUser()">Yes</button>
            </div>


        </div>

    </div>
</div>
<div id="printit" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 100%;height: 100%; ">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Preview</h4>
            </div>
            <div id="printThis">
                <div class="modifyMe">
                    <div class="modal-body">

                        <center>
                            <section>
                                <h4> <strong> List of School Used as Evacuation Centers
                                        <br>  As of {{time}}{{mid}}, {{datetoday}} <strong> </h4>
                            </section>

                            <!-- <section>
                            <h3>
                                <strong>{{clickedUser.operation}} <br> CLUSTER NEEDS THAT SHOULD TO BE DOWNLOADED TO THE LOCAL UNIT</strong>
                                    </h3>
                            </section> -->
                        </center>


                        <div>

                            <!-- <div class="panel-body ">
                                <caption> SECTOR/CLUSTER: <u>{{clickedUser.sector}} </u> </caption> <br>
                                <caption> CLUSTER LEAD AGENCY: <u>{{clickedUser.leadAgency}}</u> </caption><br><br>
                            </div> -->

                            <div class="panel-body ">

                                <table id="table-example-1" width="100%">

                                    <thead>
                                        <!-- <tr>
                                            <th rowspan="2">Name of Donor</th>
                                            <th rowspan="2">Address</th>
                                            <th rowspan="2">Items Donated</th>

                                            <th class="text-center " colspan="7">No. of Recipients in Evacuation Center
                                            </th>
                                        </tr> -->
                                        <tr>
                                            <th class="text-center">Municipality</th>
                                            <th class="text-center">List of Schools used as Evacuation Centers or Host Schools</th>
                                            <th class="text-center">Barangays Accomodated</th>
                                            <th class="text-center">Number of families</th>
                                            <th class="text-center">Number  of individuals</th>
                                            <th class="text-center">Number of classrooms used</th>
                                            <th class="text-center">Date of Evacuation</th>
                                            <th class="text-center">Date of Decampment</th>
                                            <th class="text-center">Remarks</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="ncf in usersClicked.center">

                                            <td class="text-left col-md-3 no-bottom-border">
                                                {{ncf['Municipality']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['List of Schools used as Evacuation Centers or Host Schools']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Barangays Accomodated']}}
                                            </td>

                                            <td class=" ">
                                                {{ncf['Number of families']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Number  of individuals']}}
                                            </td>

                                            <td class=" ">
                                                {{ncf['Number of classrooms used']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Date of Evacuation']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Date of Decampment']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Remarks']}}
                                            </td>

                                        </tr>

                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td class="text-right">
                                                Total
                                            </td>
                                            <td></td>
                                            <td>
                                                {{usersClicked.total1}}
                                            </td>
                                            <td>
                                                {{usersClicked.total2}}
                                            </td>
                                            <td>
                                                {{usersClicked.total3}}
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>