<section id="widget-grid" class="" style="margin: 0.5%;">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
                <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
            
            data-widget-colorbutton="false"	
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true" 
            data-widget-sortable="false"
            
        -->
                <header>
                    <!-- <span class="widget-icon"> <i class="fa fa-check txt-color-green"></i> </span> -->
                    <span class="widget-icon"></span>
                    <!-- <h2>Success States </h2> -->

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <div id="notif"></div>

                        <!-- Success states for elements -->
                        <form class="smart-form">
                            <header>Flood/Landslide Affected Schools</header>

                            <fieldset>
                                <section>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Division</label>
                                            <label class="input ">
                                                <input type="text" id="division">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">#</label>
                                            <label class="input ">
                                                <input type="text" id="divisionNo">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Municipality</label>
                                            <label class="input ">
                                                <input type="text" id="municipality">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">#</label>
                                            <label class="input ">
                                                <input type="text" id="municipalityNo">
                                            </label>
                                        </section>


                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Schools used as Evacuation Centers</label>
                                            <label class="input ">
                                                <input type="text" id="evacCenter">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">#</label>
                                            <label class="input ">
                                                <input type="text" id="schoolNo">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Affected Schools </label>
                                            <label class="input ">
                                                <input type="text" id="affectedSchool">
                                            </label>
                                        </section>

                                    </div>

                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Number of families </label>
                                            <label class="input ">
                                                <input type="number" id="families">
                                            </label>
                                        </section>

                                        <section class="col col-6">
                                            <label class="label">Number of individuals </label>
                                            <label class="input ">
                                                <input type="number" id="individuals">
                                            </label>
                                        </section>

                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Resident Learners</label>
                                            <label class="input ">
                                                <input type="number" id="residentLearners">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Displaced Learners </label>
                                            <label class="input ">
                                                <input type="number" id="displacedLearners">
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="label">Total Affected Learners </label>
                                            <label class="input ">
                                                <input type="number" id="totalLearners">
                                            </label>
                                        </section>


                                    </div>

                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Resident personnel</label>
                                            <label class="input ">
                                                <input type="number" id="residentPersonnel">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Affected Personnel: Displaced Personnel</label>
                                            <label class="input ">
                                                <input type="number" id="displacedPersonnel">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Affected Personnel: Evacuee</label>
                                            <label class="input ">
                                                <input type="number" id="evacueePersonnel">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Total affected personnel</label>
                                            <label class="input ">
                                                <input type="number" id="totalPersonnel">
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Total number of classrooms</label>
                                            <label class="input ">
                                                <input type="number" id="totalClassrooms">
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">No. of classrooms used</label>
                                            <label class="input ">
                                                <input type="number" id="numClassroom">
                                            </label>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">No. of needed TLS </label>
                                            <label class="input ">
                                                <input type="number" id="neededTLS">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">TOTAL approved TLS</label>
                                            <label class="input ">
                                                <input type="number" id="totalTLS">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Additional TLS Needed</label>
                                            <label class="input ">
                                                <input type="number" id="additionalTLS">
                                            </label>
                                        </section>
                                    </div>
                                    <i></i>
                                    <!-- <div class="note note-success">Thanks for your selection.</div> -->
                                </section>
                            </fieldset>

                            <footer>
                                <button type="button" id="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default"
                                    onclick="window.history.back();">Back</button>
                            </footer>
                        </form>
                        <!--/ Success states for elements -->

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
    </div>
</section>