<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="true" style="margin-bottom: 3px!important;">

        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>HEARS FIELD REPORT</h2>
        </header>

        <!-- widget div-->
        <div style="overflow-x:auto;overflow-y:auto;">



            <label class="input">
                <input type="text" name="name" ng-model="findcf" class="form-control">
            </label>

            <label class="input pull-right">
                <label class="select ">
                    <select class="form-control" ng-model="pageSize" ng-options="num for num in [5, 10, 15,20]" ></select> <i></i> </label>
            </label>

            <table id="data" class="table table-striped table-bordered table-hover" width="100%">
                <div id="notif"></div>
                <thead>
                    <tr>
                        <th colspan="12 pull-center" class="text-center th">A) Event Information</th>
                    </tr>
                    <tr>
                        <th colspan="3" class="text-center">Occurrence</th>
                        <th colspan="2" class="text-center">Event</th>
                        <th colspan="6" class="text-center">Exact Location</th>

                    </tr>

                    <tr>
                        <th class="text-center th">#</th>
                        <th class="text-center th">Date</th>
                        <th class="text-center th">Time</th>
                        <th class="text-center th">Type</th>
                        <th class="text-center th">Detail</th>
                        <th class="text-center th">Region</th>

                        <th colspan="3" class="text-center th">Other Infos</th>

                    </tr>
                </thead>
                <tbody ng-repeat="cf in cfs  | filter: findcf">

                    <tr class="text-center">
                        <td>{{$index + 1}}</td>
                        <td>{{cf.hfrdate}}</td>
                        <td>{{cf.hfrtime}}</td>
                        <td>{{cf.hfrtype}}</td>
                        <td>{{cf.hfrdetails}}</td>
                        <td>{{cf.hfrregion}}</td>

                        <td class="col col-4"><button type="button" class="btn btn-success btn-block " ng-click="selectUser(cf)"><i class="icon-append fa fa-pencil"></i> Edit Data</button></td>
                        <td class="col col-4"><button type="button" class="btn btn-info btn-block  " ng-click="printit(cf)"><i class="icon-append fa fa-print"></i> Print Data</button></td>

                        <td class="col col-4"><button type="button" class="btn btn-danger btn-block  " ng-click="selectUser2(cf)"><i class="icon-append fa fa-minus-circle"></i> Delete Data</button></td>


                </tbody>



            </table>







        </div>

    </div>

    <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
       Back
      </button>
        <button class="btn btn-primary">{{currentPage+1}} of {{numberOfPages()}}</button>
        <button class="btn btn-primary" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
      </button>
    </div>


</article>



<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Info.</h4>
            </div>

            <div class="modal-body">

                <form class="smart-form" id="savehfr">
                    <header>A) Event Information</header>
                    <!--Start of Event Information-->
                    <fieldset>
                        <section>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Date</label>
                                    <label class="input ">
                                        <input type="date" id="hfrdate" required>
                                    </label>
                                </section>
                                <section class="col col-1">
                                    <label class="label">Time</label>
                                    <label class="input ">
                                        <input type="time" id="hfrtime" required>
                                    </label>
                                </section>
                                <section class="col col-1">
                                    <label class="label">Type</label>
                                    <label class="select ">
                                        <select ng-model="clickedUser.hfrtype" id="hfrtype" required>
                                            <option value="0" disabled selected>select</option>
                                            <option value="Geologic">Geologic</option>
                                            <option value="Weather">Weather</option>
                                            <option value="Biologic">Biologic</option>
                                            <option value="Man Made">Man Made</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Details</label>
                                    <label class="select ">
                                        <select ng-model="clickedUser.hfrdetails" id="hfrdetails" required>
                                            <option value="0" disabled selected>select</option>
                                            <option value="Volcanic Eruption">Volcanic Eruption</option>
                                            <option value="Earthquake">Earthquake</option>
                                            <option value="Tsunami">Tsunami</option>
                                            <option value="Landslide">Landslide</option>
                                            <option value="Typhoon">Typhoon</option>
                                            <option value="Storm Surge">Storm Surge</option>
                                            <option value="Drought">Drought</option>
                                            <option value="Cold Spell">Cold Spell</option>
                                            <option value="FlashFlood">FlashFlood</option>
                                            <option value="Red Tide">Red Tide</option>
                                            <option value="Fish Kills">Fish Kills</option>
                                            <option value="Locust">Locust</option>
                                            <option value="Infestation">Infestation</option>
                                            <option value="Fire">Fire</option>
                                            <option value="Explosion">Explosion</option>
                                            <option value="Armed Conflict">Armed Conflict</option>
                                            <option value="Terrorism">Terrorism</option>
                                            <option value="Poisoning">Poisoning</option>
                                            <option value="Mass Action">Mass Action</option>
                                            <option value="Accident">Accident</option>
                                            <option value="Other">Other</option>
                                        </select><i></i>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Region</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.hfrregion" id="hfrregion" required>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Province</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.hfrprovince" id="hfrprovince" required>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Municipality/City</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.hfrmuci" id="hfrmuci" required>
                                    </label>
                                </section>

                            </div>



                        </section>
                    </fieldset>
                    <!--End of Event Information-->

                    <header>B) Consequences </header>
                    <!--Start of Magnitude of event-->
                    <fieldset>
                        <section>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">No. of Deaths</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.noOfDeaths" id="noOfDeaths" required>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">No of Admitted Patients</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.noOfAdmitted" id="noOfAdmitted" required>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">No. of Outpatients</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.noOfOutPatients" id="noOfOutPatients" required>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">No. of Missing</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.noOfMissing" id="noOfMissing" required>
                                    </label>
                                </section>
                                <section class="col col-2 select">
                                    <label class="label">Population Displace</label>
                                    <label class="select ">
                                        <select ng-model="clickedUser.populationDisplace" id="populationDisplace" required>
                                            <option value="0" selected>select</option>
                                            <option value="YES">YES</option>
                                            <option value="NO">NO</option>
                                        </select><i></i>
                                </section>
                                <section class="col col-2 select">
                                    <label class="label">No. Displaced Families</label>
                                    <label class="select ">
                                        <select ng-model="clickedUser.noOfDisplayFam" id="noOfDisplayFam" required>
                                            <option value="0" selected>select</option>
                                            <option value="Estimated">Estimated</option>
                                            <option value="Actual">Actual</option>
                                        </select><i></i>
                                </section>
                                <section class="col col-2 select">
                                    <label class="label">No. Displaced Families</label>
                                    <label class="select ">
                                        <select ng-model="clickedUser.noOfDisplayFam2" id="noOfDisplayFam2" required>
                                            <option value="0" selected>select</option>
                                            <option value="Estimated">Estimated</option>
                                            <option value="Actual">Actual</option>
                                        </select><i></i>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Public (No of Available) </label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.publicAvail" id="publicAvail" required>
                                    </label>

                                </section>
                                <section class="col col-2">
                                    <label class="label">Hospitals (No of Available)</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.hospitalsAvail" id="hospitalsAvail" required>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">RHUs (No of Available)</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.RHUAvail" id="RHUAvail" required>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Public (No of functioning)</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.publicFunc" id="publicFunc" required>
                                    </label>

                                </section>
                                <section class="col col-2">
                                    <label class="label">Hospitals (No of functioning)</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.hospitalsFunc" id="hospitalsFunc" required>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">RHUs (No of functioning)</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.RHUFunc" id="RHUFunc" required>
                                    </label>
                                </section>

                            </div>

                        </section>
                    </fieldset>
                    <!--End of Magnitude of event-->



                    <header>C) Action Taken</header>

                    <fieldset>
                        <div class="panel-body ">

                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-success " id="addmee"><i class="fa fa-plus-circle"></i></button>
                                <button type="button" class="btn btn-danger" id="minmee"><i class="fa fa-minus-circle"></i></button>
                            </div>
                            <br>
                            <br>

                            <table id="table-e" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th colspan="2">Details</th>

                                    </tr>
                                </thead>
                                <tbody id="appendheree">
                                    <tr ng-repeat="ncf in usersClicked.atn ">
                                        <td class="textarea"><textarea rows="5" ng-model="ncf['Details']"></textarea></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </fieldset>

                    <header>D) Assistance Needed</header>

                    <fieldset>
                        <div class="panel-body ">

                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-success " id="addmef"><i class="fa fa-plus-circle"></i></button>
                                <button type="button" class="btn btn-danger" id="minmef"><i class="fa fa-minus-circle"></i></button>
                            </div>
                            <br>
                            <br>
                            <table id="table-f" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th colspan="2">Details</th>
                                    </tr>
                                </thead>
                                <tbody id="appendheref">
                                    <tr ng-repeat="ncf in usersClicked.assist ">
                                        <td class="textarea"><textarea rows="5" ng-model="ncf['Details']"></textarea></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>


                    </fieldset>

                    <header>Prepared and Submitted by:</header>

                    <fieldset>
                        <section>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Mobile No.:</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.mobile" id="mobile">
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Landline.:</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.landline" id="landline">
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Fax No.:</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.faxno" id="faxno">
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Date Prepared:</label>
                                    <label class="input ">
                                        <input type="date" id="datep">
                                    </label>
                                </section>
                            </div>
                        </section>
                        <section>

                            <div class="row">


                                <section class="col col-6">
                                    <label class="label">Printed Name</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.printedn" id="printedn">
                                    </label>
                                </section>

                                <section class="col col-6">
                                    <label class="label">Designation and Office</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.designation" id="designation">
                                    </label>
                                </section>

                                <section class="col col-6">
                                    <label class="label">Printed Name</label>
                                    <label class="input ">
                                        <input type="text" ng-model="clickedUser.printedn2" id="printedn2">
                                    </label>
                                </section>

                                <section class="col col-6 sign">
                                    <label class="label">Signature</label>



                                    <div class="btn-group btn-group-justified btn-group-sm">
                                        <a href="javascript:void(0);" class="btn btn-danger" id="sig-clearBtn">Reset Sign</a>
                                        <a href="javascript:void(0);" class="btn  btn-primary" id="sig-submitBtn">Save Sign</a>
                                    </div>

                                </section>
                                <section></section>
                                <!-- signature -->
                                <section class="col col-4 pull-right">
                                    <img id="sig-image" src="{{clickedUser.signature}}" alt="Your signature will go here!" />

                                    <canvas id="sig-canvas"> </canvas>


                                </section>
                            </div>

                        </section>
                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-primary ">Update</button>
                    </footer>
                </form>
            </div>

        </div>

    </div>
</div>

<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Info.</h4>
            </div>
            <div class="modal-body">


                <p>You want to delete <strong style="color: red;">{{clickedUser.hfrdetails}}</strong> in
                    <strong style="color: red;">{{clickedUser.hfrmuci}} {{clickedUser.hfrprovince}}</strong>?
                </p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="close()">No</button>
                <button type="button" class="btn btn-danger" ng-click="deleteUser()">Yes</button>
            </div>


        </div>

    </div>
</div>

<div id="printit" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 100%;height: 100%; ">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Preview</h4>
            </div>
            <div id="printThis">
                <div class="modifyMe">
                    <div class="modal-body">

                        <div class="panel-body ">
                            <br>
                            <br>
                            <br>
                            <section>
                                <!-- <div style="float: left; "><img src="../assets/img/doh.png" height="auto" width="150px" alt="doh"></div> -->
                                <div>

                                    <strong style="font-size: 10px;"> <center>Republic of the Philipines</center></strong>
                                    <strong style="font-size: 10px;"> <center>Department pf Health</center></strong>
                                    <strong style="font-size: 20px;"> <center>HEALTH EMERGENCY MANAGEMENT STAFF</center></strong>
                                    <strong style="font-size: 9.50px;"> <center>Ground Floor Bldg. 12, San Lazaro Compound</center></strong>
                                    <strong style="font-size: 9.50px;"> <center>Rizal Avenue, Sta. Cruz, Manila</center></strong>
                                    <strong style="font-size: 9.50px;"> <center>Telafax (63-2)711-1001/740-6030/743-0568 Tel:(63-2)711-1002/743-0538</center></strong>
                                    <strong style="font-size: 9.50px;"> <center>Trunk line Nos. 743-8301 loo 2200 to 2207</center></strong>
                                    <strong style="font-size: 9.50px;"> <center>Email:doh_hems@yahoo.com;doh_hemsopcen@yahoo.com</center></strong>
                                </div>
                                <!-- <div style="float: right;"><img src="../assets/img/hems.png" height="auto" width="150px" alt="hems"></div> -->
                            </section>
                            <section>
                                <strong style="font-size: 30px;"> <center> HEARS FIELD REPORT</center></strong>
                                <p style="font-size: 9.5px;">(Upon learning about the occurrence of an event, htaht HEMS Coordinator shall immediately in form the DOH-HEMS Operation Center through the fastest communication means available. Then this Forms 1 shall be filled-out and
                                    sent ASAP or within 24 upon occurrence of the event.)</p>
                            </section>
                            <table id="table-example-1" width="100%">

                                <tr class="pull-left">
                                    <th colspan="6">A) Event Information</th>
                                </tr>

                                <tbody>

                                    <tr class="pull-left">
                                        <td class="text-left ">
                                            Type of Event:
                                        </td>
                                        <td class="pull-left">
                                            GEOLOGIC <br>
                                            <input type="checkbox">Volcanic Eruption<br>
                                            <input type="checkbox">Earthquake<br>
                                            <input type="checkbox">Tsunami<br>
                                            <input type="checkbox">Landslide<br>
                                            <input type="checkbox">Lahar
                                        </td>
                                        <td class="text-left">
                                            WEATHER <br>
                                            <input type="checkbox">Typhoon<br>
                                            <input type="checkbox">Storm Surge<br>
                                            <input type="checkbox">Drought<br>
                                            <input type="checkbox">Cold Spell<br>
                                            <input type="checkbox">FlashFlood
                                        </td>
                                        <td class="text-left ">
                                            BIOLOGY<br>
                                            <input type="checkbox">Red Tide<br>
                                            <input type="checkbox">Flash Kills<br>
                                            <input type="checkbox">Locust<br>
                                            <input type="checkbox">Infestation<br>

                                        </td>
                                        <td class="text-left ">
                                            MAN-MADE<br>
                                            <input type="checkbox">Epidemic<br>
                                            <input type="checkbox">Fire<br>
                                            <input type="checkbox">Explosion<br>
                                            <input type="checkbox">Armed Conflict<br>
                                            <input type="checkbox">Terrorism
                                        </td>
                                        <td class="text-left ">
                                            <input type="checkbox">Poisoning<br>
                                            <input type="checkbox">Mass Action, specify__________<br>
                                            <input type="checkbox">Accident, specify_____________<br>
                                            <input type="checkbox">Other, specify________________<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Date of <br> Occurrence:
                                        </td>
                                        <td class="text-left">
                                            Time of <br> Occurrence:
                                        </td>
                                        <td class="text-left">
                                            <input type="checkbox">AM<br>
                                            <input type="checkbox">PM
                                        </td>
                                        <td class="text-left">
                                            Exact Location: <br> Region:
                                        </td>
                                        <td class="text-left">
                                            <br> Province:
                                        </td>
                                        <td class="text-left">
                                            <br> Municipality/City:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">Brief Description (How the even happened):<br> <textarea class="textarea" rows="20" style="border: none;
                                            width: 100%;
                                            -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
                                            -moz-box-sizing: border-box; /* FF1+ */
                                            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/"> </textarea> </i>
                                        </td>
                                    </tr>
                                    <tr class="pull-left">
                                        <th colspan="6">B) Consequences</th>

                                    </tr>
                                    <tr>
                                        <th colspan="2">HEALTH IMPACT</th>
                                        <th colspan="2">POPULATION DISPLACEMENT</th>
                                        <th colspan="2">HEALTH FACILITIES/ SERVICES</th>
                                    </tr>
                                    <tr class="pull-left">
                                        <td class="text-left ">
                                            No. of Deaths: ___<br> No. of Admitted Patients:___<br> No. of OutPatients: strong ___<br> No. Missing: ___
                                        </td>
                                        <td class="pull-left">
                                            Population displace? <br>No. of Displ. Families:<br><br><br>No. of Disp. Individuals
                                        </td>
                                        <td class="text-left">
                                            <input type="checkbox">Yes <input type="checkbox">No <br>
                                            <input type="checkbox">Estimated <br><input type="checkbox">Actual<br>
                                            <input type="checkbox">Estimated <br><input type="checkbox">Actual
                                        </td>
                                        <td class="text-left ">
                                            <br><br> Public: <br> Hospitals: <br> RHUs:
                                        </td>
                                        <td class="text-left text-right">
                                            Number <br> Available <br>

                                        </td>
                                        <td class="text-left text-right">
                                            Number <br> Functions
                                        </td>
                                    </tr>
                                    <tr class="pull-left">
                                        <th colspan="6">C) Action Taken</th>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6 text-left">1.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">2.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">3.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">4.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">5.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <th colspan="6">D) Assistance Needed</th>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">1.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">2.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">3.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">4.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">5.</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="6">Prepared and Submitted by:</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="3">Date Prepared:</td>
                                        <td colspan="3">Mobile No:</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="3">Signature:</td>
                                        <td colspan="3">Landline No:</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="3">Printed Name:</td>
                                        <td colspan="3">Fax No:</td>
                                    </tr>
                                    <tr class="pull-left">
                                        <td colspan="3">Designation/Office:</td>
                                        <td colspan="3">Email:</td>
                                    </tr>
                                </tbody>

                            </table>


                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
</div>