<style>
    .indent-1 {
        float: left;
    }
    
    .indent-1 section {
        width: 50%;
        float: left;
    }
</style>

<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="true" style="margin-bottom: 3px!important;">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false" 
        data-widget-collapsed="true"
        data-widget-sortable="false"
        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>(CDRRMO) FINAL REPORT</h2>

        </header>

        <!-- widget div-->
        <div>

            <label class="input">
                <input type="text" name="name" ng-model="findcf" class="form-control">
            </label>

            <label class="input pull-right">
                <label class="select ">
                    <select class="form-control" ng-model="pageSize" ng-options="num for num in [5, 10, 15,20]" ></select> <i></i> </label>
            </label>

            <table id="data" class="table table-striped table-bordered table-hover" width="100%">

                <div id="notif"></div>
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Date</th>
                        <th>Background Information</th>
                        <!-- <th>Dead (Confirmed)</th>
                        <th>Dead (Reported)</th>
                        <th>Missing</th>
                        <th>Injured</th>
                        <th>Families</th>
                        <th>Persons</th> -->
                        <th colspan="3">Controls</th>
                    </tr>
                </thead>
                <tbody ng-repeat="cf in cfs  | startFrom:currentPage*pageSize | limitTo:pageSize |filter:findcf">

                    <!-- <td>{{$index+1}}</td> -->

                    <tr ng-repeat="ncf in cf.background ">
                        <td>{{cf.date}}</td>
                        <td>{{ncf['Background Infromation']}}</td>
                        <!-- <td>{{cf.dead_confirmed}}</td>
                        <td>{{cf.dead_reported}}</td>
                        <td>{{cf.missing}}</td>
                        <td>{{cf.injured}}</td>
                        <td>{{cf.families}}</td>
                        <td>{{cf.persons}}</td> -->
                        <td class="col col-4">

                            <button type="button" class="btn  btn-block btn-success " ng-click="selectUser(cf)"><i
                    class="fa fa-pencil"></i> Edit Data</button>
                        </td>
                        <td class="col col-4">

                            <button type="button" class="btn btn-block btn-info" ng-click="printit(cf)"><i
                        class="fa fa-print"></i> Print Data</button>
                        </td>
                        <td class="col col-4">

                            <button type="button" class="btn btn-block btn-danger" ng-click="selectUser2(cf)"><i
                    class="fa fa-minus-circle"></i> Delete Data</button>

                        </td>
                    </tr>





                </tbody>



            </table>






        </div>

    </div>

    <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
       Back
      </button>
        <button class="btn btn-primary">{{currentPage+1}} of {{numberOfPages()}}</button>
        <button class="btn btn-primary" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
      </button>
    </div>
</article>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 80%;height: 80%; ">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" ng-click="delAppend()">&times;</button>
                <h4 class="modal-title">Edit Info.</h4>
            </div>

            <div class="modal-body">


                <form class="smart-form" id="saverha">


                    <header>Monitoring and Situational Report</header>

                    <fieldset>
                        <div class="panel-body ">

                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-success " id="addmeb"><i class="fa fa-plus-circle"></i></button>
                                <button type="button" class="btn btn-danger" id="minmeb"><i class="fa fa-minus-circle"></i></button>
                            </div>
                            <br>
                            <br>

                            <table id="table-b" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th colspan="2">Background Infromation</th>

                                    </tr>
                                </thead>
                                <tbody id="appendhereb">
                                    <tr>
                                        <td class='col-md-10'><label class='textarea'><textarea rows='5' ></textarea></label></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </fieldset>
                    <!--Start of Status of Essential Drugs and Supplies in the Affected Ares-->
                    <header>Emergency Response Activities Undertaken</header>
                    <fieldset>
                        <div class="panel-body ">

                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-success " id="addmec"><i class="fa fa-plus-circle"></i></button>
                                <button type="button" class="btn btn-danger" id="minmec"><i class="fa fa-minus-circle"></i></button>
                            </div>
                            <br>
                            <br>
                            <table id="table-c" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <!-- <tr>
                                        <th colspan="2">Emergency Response Activities Undertaken</th>
                                    </tr> -->
                                    <tr>
                                        <th>Version</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody id="appendherec">
                                    <tr>
                                        <td class="col-md-2"><label class="input"> 
                                            <input type="text" name="Number_of_Cases" placeholder="2.1">
                                        </label>
                                        </td>
                                        <td class='col-md-10'><label class='textarea'><textarea rows='5' ></textarea></label></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>


                    </fieldset>

                    <header>Problems, Issues and Concerns</header>
                    <fieldset>
                        <div class="panel-body ">

                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-success " id="addmed"><i class="fa fa-plus-circle"></i></button>
                                <button type="button" class="btn btn-danger" id="minmed"><i class="fa fa-minus-circle"></i></button>
                            </div>
                            <br>
                            <br>
                            <table id="table-d" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Version</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody id="appendhered">
                                    <tr>
                                        <td class="col-md-2"><label class="input"> 
                                            <input type="text" name="Number_of_Cases" placeholder="2.1">
                                        </label>
                                        </td>
                                        <td class='col-md-10'><label class='textarea'><textarea rows='5' ></textarea></label></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>


                    </fieldset>

                    <!--Start of Status of Essential Drugs and Supplies in the Affected Ares-->
                    <header>Action Taken and Recommendations/Suggestions</header>

                    <fieldset>
                        <div class="panel-body ">

                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-success " id="addmee"><i class="fa fa-plus-circle"></i></button>
                                <button type="button" class="btn btn-danger" id="minmee"><i class="fa fa-minus-circle"></i></button>
                            </div>
                            <br>
                            <br>
                            <table id="table-e" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Version</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody id="appendheree">
                                    <tr>
                                        <td class="col-md-2"><label class="input"> 
                                            <input type="text" name="Number_of_Cases" placeholder="2.1">
                                        </label>
                                            <td class='col-md-10'><label class='textarea'><textarea rows='5' ></textarea></label></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>


                    </fieldset>

                    <header>Other Reports</header>

                    <fieldset>
                        <div class="panel-body ">

                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-success " id="addmef"><i class="fa fa-plus-circle"></i></button>
                                <button type="button" class="btn btn-danger" id="minmef"><i class="fa fa-minus-circle"></i></button>
                            </div>
                            <br>
                            <br>
                            <table id="table-f" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Version</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody id="appendheref">
                                    <tr>
                                        <td class="col-md-2"><label class="input"> 
                                            <input type="text" name="Number_of_Cases" placeholder="2.1">
                                        </label>
                                            <td class='col-md-10'><label class='textarea'><textarea rows='5' ></textarea></label></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>


                    </fieldset>


                    <div class="row">
                        <!-- <section class="col col-4">
                            <label class="label">Date Prepared:</label>
                            <label class="input ">
                                <input type="date" id="datep">
                            </label>
                        </section> -->

                        <section class="col col-6">
                            <label class="label">Prepared by:</label>
                            <label class="input ">
                                <input type="text" ng-model="preparedBy" id="preparedBy">
                            </label>
                        </section>

                        <section class="col col-6 sign">
                            <label class="label">Signature</label>

                            <button type="button" class="btn btn-info  btn-sm  btn-block" data-toggle="modal" data-target="#exampleModal">
                                CLICK TO SIGN
                            </button>

                            <!-- Modal -->

                        </section>
                        <section class="col col-12 pull-right">
                            <img id="sig-image" src="" alt="Your signature will go here!" />
                        </section>

                    </div>

                    <div class="row">
                        <!-- <section class="col col-4">
                            <label class="label">Date Recommended:</label>
                            <label class="input ">
                                <input type="date" id="dater">
                            </label>
                        </section> -->

                        <section class="col col-6">
                            <label class="label">Submmitted By:</label>
                            <label class="input ">
                                <input type="text"  ng-model="submitted" id="submitted">
                            </label>
                        </section>

                        <section class="col col-6 sign">
                            <label class="label">Signature</label>

                            <button type="button" class="btn btn-info  btn-sm  btn-block" data-toggle="modal" data-target="#exampleModal2">
                                CLICK TO SIGN
                            </button>

                            <!-- Modal -->

                        </section>
                        <section class="col col-12 pull-right">
                            <img id="sig-image2" src="" alt="Your signature will go here!" />
                        </section>

                    </div>

                    <footer>
                        <button type="submit" class="btn btn-primary ">Submit</button>
                    </footer>
                </form>

            </div>

        </div>

    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Info.</h4>
            </div>
            <div class="modal-body">


                <p>You want to delete <strong style="color: red;">{{clickedUser.leadAgency}}</strong>'s infomation?
                    <strong style="color: red;">{{clickedUser.municipality}} {{clickedUser.division}}</strong>?</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="close()">No</button>
                <button type="button" class="btn btn-danger" ng-click="deleteUser()">Yes</button>
            </div>


        </div>

    </div>
</div>

<div id="printit" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 100%;height: 100%; ">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Preview</h4>
            </div>
            <div id="printThis">
                <div class="modifyMe">
                    <div class="modal-body">

                        <center>
                            <section>
                                <h4> <strong> Republic of the Philipines <br> CITY GOVERNMENT OF LEGAZPI <br> CITY MAYOR'S OFFICE <br> Legazpi City <strong> </h4>
                            </section>
                            <section>
                                <h4> <strong> CITY DISASTER RISK REDUCTION & MANAGEMENT DIVISION <br> Legazpi City DRR Operations/Climate Change Center<strong> </h4>
                            </section>
                            <section>
                            <h3>
                                <strong> MONITORING AND SITUATIONAL REPORT <br>  As of
                                    {{time}}{{mid}}, {{datetoday}}</strong>
                                    </h3>
                            </section>
                        </center>


                        <div>

                            <div class="panel-body ">
                                <caption> 1. BACKGROUND INFORMATION <br> <u>{{clickedUser.leadAgency}} </u> </caption> <br><br>
                                <caption> 2. EMERGENCY RESPONSE ACTIVITIES UNDERTAKEN <br> <u>{{clickedUser.leadAgency}}</u> </caption><br><br>
                                <caption> 3. PROBLEMS, ISSUES AND CONCERNS <br> <u>{{clickedUser.leadAgency}}</u> </caption><br><br>
                                <caption> 4. ACTIONS TAKEN AND RECOMMENDATIONS/SUGGESTIONS <br> <u>{{clickedUser.leadAgency}}</u> </caption><br><br>
                                <caption> 5. OTHER REPORTS <br> <u>{{clickedUser.leadAgency}}</u> </caption><br><br>
                            </div>
                            <div class="panel-body">

                                <section id="spansigr">
                                    <strong style="float: right;">Submitted By: <br><h4>{{clickedUser.sb1}} <br>{{clickedUser.sb1d}} </h4></strong>
                                </section>

                                <section id="spansigl">
                                    <strong>Prepared By:</strong>
                                    <strong><h4>{{clickedUser.pban1}} <br>{{clickedUser.pban1d}} </h4></strong>
                                    <strong><h4>{{clickedUser.pban2}} <br>{{clickedUser.pban2d}} </h4></strong>

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>