<style>
    #sig-canvas {
        border: 2px dotted #CCCCCC;
        border-radius: 15px;
        cursor: crosshair;
    }
    
    @media screen and (min-width: 1076px) {
        .modal-dialog {
            max-width: 350px;
            /* New width for default modal */
        }
    }
    
    @media screen and (min-width: 1024px) {
        .modal-dialog {
            max-width: 350px;
            /* New width for default modal */
        }
    }
    
    @media screen and (min-width: 768px) {
        .modal-dialog {
            max-width: 350px;
            /* New width for default modal */
        }
    }
    
    @media screen and (min-width: 360px) {
        .modal-dialog {
            max-width: 350px;
            /* New width for default modal */
        }
    }
    
    @media screen and (min-width: 411px) {
        .modal-dialog {
            max-width: 350px;
            /* New width for default modal */
        }
    }
    
    @media screen and (min-width: 375px) {
        .modal-dialog {
            max-width: 350px;
            /* New width for default modal */
        }
    }
    
    @media screen and (min-width: 375px) {
        .modal-dialog {
            max-width: 350px;
            /* New width for default modal */
        }
    }
</style>
<section id="widget-grid" class="" style="margin: 0.5%;">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
                <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
            
            data-widget-colorbutton="false"	
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true" 
            data-widget-sortable="false"
            
        -->
                <header>
                    <!-- <span class="widget-icon"> <i class="fa fa-check txt-color-green"></i> </span> -->
                    <span class="widget-icon"></span>
                    <!-- <h2>Success States </h2> -->

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <!-- Success states for elements -->
                        <form class="smart-form" id="saverha">
                            <header>A) Event Information</header>
                            <!--Start of Event Information-->
                            <fieldset>
                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Date</label>
                                            <label class="input ">
												<input type="date" id="rhadate" required>
											</label>
                                        </section>
                                        <section class="col col-1">
                                            <label class="label">Time</label>
                                            <label class="input ">
												<input type="time" id="rhatime" required>
											</label>
                                        </section>
                                        <section class="col col-1">
                                            <label class="label">Type</label>
                                            <label class="select ">
												<select id="rhatype" required>
													<option value="0" selected>select</option>
													<option value="1">Geologic</option>
													<option value="2">Weather</option>
													<option value="3">Biologic</option>
													<option value="4">Man Made</option>
												</select>
												<i></i>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Details</label>
                                            <label class="select ">
												<select id="rhadetails" required>
													<option value="0" selected>select</option>
													<option value="1">Volcanic Eruption</option>
													<option value="2">Earthquake</option>
													<option value="3">Tsunamin</option>
													<option value="4">Landslide</option>
													<option value="5">Typhoon</option>
													<option value="6">Storm Surge</option>
													<option value="7">Drougth</option>
													<option value="8">Cold Spell</option>
													<option value="9">FlashFlood</option>
													<option value="10">Red Tide</option>
													<option value="11">Fish Kills</option>
													<option value="12">Locust</option>
													<option value="13">Infestation</option>
													<option value="14">Fire</option>
													<option value="15">Explosion</option>
													<option value="16">Armed Conflict</option>
													<option value="17">Terrorism</option>
													<option value="18">Poisoning</option>
													<option value="19">Mass Action</option>
													<option value="20">Accident</option>
													<option value="21">Other</option>
												</select><i></i>
										</section>
										<section class="col col-2">
											<label class="label">Region</label>
                                            <label class="input ">
												<input type="text" id="rharegion" required>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Province</label>
                                            <label class="input ">
												<input type="text" id="rhaprovince" required>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Municipality/City</label>
                                            <label class="input ">
												<input type="text" id="rhamuci" required>
											</label>
                                        </section>

                                    </div>



                                </section>
                            </fieldset>
                            <!--End of Event Information-->

                            <header>B) Magtitude of Event </header>
                            <!--Start of Magnitude of event-->
                            <fieldset>
                                <div class="panel-body ">

                                    <div class="btn-group btn-group-sm pull-right">
                                        <button type="button" class="btn btn-success " id="addmeb"><i class="fa fa-plus-circle"></i></button>
                                        <button type="button" class="btn btn-danger" id="minmeb"><i class="fa fa-minus-circle"></i></button>
                                    </div>
                                    <br>
                                    <br>
                                    <table id="table-b" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Province</th>
                                                <th>Municipality or City</th>
                                                <th>Families</th>
                                                <th>Individuals</th>
                                                <th>Number Of EC</th>
                                                <th>Number Family EC</th>
                                                <th>Number Individual in EC</th>
                                            </tr>
                                        </thead>
                                        <tbody id="appendhereb">
                                            <tr class="row_to_clone">
                                                <td> <label class="input"> 
                                                    <input type="text" name="Province"  placeholder="Province Name" required>
                                                </label></td>

                                                <td><label class="input"> 
                                                    <input type="text" name="MunicipalityorCity" placeholder="Municipality or City Name">
                                                </label>
                                                </td>
                                                <td><label class="input"> 
                                                    <input type="number" name="Families" placeholder="Families Count">
                                                </label>
                                                </td>
                                                <td><label class="input"> 
                                                    <input type="number" name="Individuals" placeholder="Individuals Count">
                                                </label>
                                                </td>
                                                <td><label class="input"> 
                                                    <input type="number" name="NumberOfEC" placeholder="Number Of EC">
                                                </label>
                                                </td>
                                                <td><label class="input"> 
                                                    <input type="number" name="NumberFamilyEC" placeholder="Number Family EC">
                                                </label>
                                                </td>
                                                <td class="col-md-2">

                                                    <label class="input col-md-10"> 
                                                        <input type="text" name=">NumberIndividualinEC" placeholder="Number Individual in EC" class="number"  />
                                                   </label>

                                                    <label class="input col-md-1"> 
                                                        <button class="btn btn-danger btn-sm deleteb">X</button>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!-- <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <h4>Grand Total</h4>
                                                </td>
                                                <td>
                                                    <h4><label class="input"> 
                                                        <span id="sum">0.00</span>
    
                                                    </label></h4>
                                                </td>
                                            </tr>
                                        </tbody> -->
                                    </table>
                                </div>


                            </fieldset>
                            <!--End of Magnitude of event-->

                            <header>C) Health Consecquences</header>
                            <!--Start of Health Consecquences-->
                            <fieldset>
                                <div class="panel-body">

                                    <div class="btn-group btn-group-sm pull-right">
                                        <button type="button" class="btn btn-success " id="addmec"><i class="fa fa-plus-circle"></i></button>
                                        <button type="button" class="btn btn-danger" id="minmec"><i class="fa fa-minus-circle"></i></button>
                                    </div>
                                    <br>
                                    <br>
                                    <table id="table-c" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Province</th>
                                                <th>Municipality or City</th>
                                                <th>Total Number of Deaths</th>
                                                <th>Admitted</th>
                                                <th>Admitted then Discharge</th>
                                                <th>Not Admitted</th>
                                                <th>Total Number of Missing</th>
                                            </tr>
                                        </thead>
                                        <tbody id="appendherec">
                                            <tr>
                                                <td> <label class="input"> 
                                                    <input type="text" name="Province"  placeholder="Province Name" required>
                                                </label></td>

                                                <td><label class="input"> 
                                                    <input type="text" name="MunicipalityorCity" placeholder="Municipality/City Name">
                                                </label>
                                                </td>
                                                <td><label class="input"> 
                                                    <input type="number" name="Total_Number_of_Deaths" placeholder="Total Number of Deaths Count">
                                                </label>
                                                </td>
                                                <td><label class="input"> 
                                                    <input type="number" name="Admitted" placeholder="Admitted Count">
                                                </label>
                                                </td>
                                                <td><label class="input"> 
                                                    <input type="number" name="Admitted_then_Discharge" placeholder="Admitted then Discharge Count">
                                                </label>
                                                </td>
                                                <td><label class="input"> 
                                                    <input type="number" name="Not_dmitted" placeholder="Not Admitted Count">
                                                </label>
                                                </td>
                                                <td class="col-md-2">

                                                    <label class="input col-md-10"> 
                                                        <input type="text" name="Total_Number_of_Missing" placeholder="Total Number of Missing Count" class="number"  />
                                                   </label>

                                                    <label class="input col-md-1"> 
                                                        <button class="btn btn-danger btn-sm deletec">X</button>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!-- <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <h4>Grand Total</h4>
                                                </td>
                                                <td>
                                                    <h4><label class="input"> 
                                                        <span id="sum">0.00</span>
    
                                                    </label></h4>
                                                </td>
                                            </tr>
                                        </tbody> -->
                                    </table>
                                </div>


                            </fieldset>
                            <!--Start of Health Consecquences-->

                            <header>D) Health Facilities in the affected areas</header>
                            <!--Start of Health Facilities in the affected areas-->
                            <fieldset>
                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1> DOH Hospitals</h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="dhs">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="dhr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>
                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1> LGU Hospitals</h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="lhs">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="lhr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>

                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1> Pvt, Hospitals</h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="phs">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="phr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>

                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1> RHU/Health Ctr: </h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="rhcs">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="rhcr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>

                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1> BHS </h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="bhss">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="bhsr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>

                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1> Other: </h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="others">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="otherr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>
                            </fieldset>
                            <!--End of Health Facilities in the affected areas-->

                            <header>E) Lifelines in the Affected Areas</header>
                            <!--Start of Lifelines in the Affected Areas-->
                            <fieldset>
                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1> Communication </h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="communications">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="communicationr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>

                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1>Electric Power</h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="eps">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="epr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>

                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1>Water</h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="waters">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="waterr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>

                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1>Roads/Bridges</h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="rbs">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="rbr"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>

                                <section>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">
												<h1> Others </h1>
											</label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Status</label>
                                            <label class="select ">
												<select id="others1">
													<option value="0" selected>select</option>
													<option value="1">Fully Functional</option>
													<option value="2">Partly Functional</option>
													<option value="3">Totally Non-Functional</option>
												</select><i></i>
										</section>
										<section class="col col-8">
											<label class="label">Remarks</label>
                                            <label class="textarea ">
												<textarea rows="3" id="otherr1"></textarea>
											</label>
                                        </section>
                                    </div>
                                </section>

                            </fieldset>
                            <!--Start of Lifelines in the Affected Areas-->

                            <header>F) Status of Essential Drugs and Supplies in the Affected Ares</header>
                            <!--Start of Status of Essential Drugs and Supplies in the Affected Ares-->
                            <fieldset>
                                <div class="panel-body ">

                                    <div class="btn-group btn-group-sm pull-right">
                                        <button type="button" class="btn btn-success " id="addmed"><i class="fa fa-plus-circle"></i></button>
                                        <button type="button" class="btn btn-danger" id="minmed"><i class="fa fa-minus-circle"></i></button>
                                    </div>
                                    <br>
                                    <br>
                                    <table id="table-d" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Number of Cases</th>
                                                <th>Number of Days</th>
                                                <th colspan="2">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody id="appendhered">
                                            <tr>
                                                <td class="col-md-2"><label class="input"> 
                                                    <input type="number" name="Number_of_Cases" placeholder="Number of Cases">
                                                </label>
                                                </td>
                                                <td class="col-md-2">
                                                    <label class="input"> 
                                                    <input type="number" name="Number_of_Days" placeholder="Number of Days">
                                                </label>
                                                </td>
                                                <td class="col-md-10">
                                                    <label class="textarea">
                                                        <textarea rows="2" iname="Remarks" placeholder="Remarks"></textarea>                                                      
                                                    </label>
                                                </td>
                                                <td class="col-md-1">
                                                    <button class="btn btn-danger btn-lg deleted">X</button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>


                            </fieldset>


                            <header>G) Action Taken</header>

                            <fieldset>
                                <div class="panel-body ">

                                    <div class="btn-group btn-group-sm pull-right">
                                        <button type="button" class="btn btn-success " id="addmee"><i class="fa fa-plus-circle"></i></button>
                                        <button type="button" class="btn btn-danger" id="minmee"><i class="fa fa-minus-circle"></i></button>
                                    </div>
                                    <br>
                                    <br>

                                    <table id="table-e" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Action Taken</th>

                                            </tr>
                                        </thead>
                                        <tbody id="appendheree">
                                            <tr>
                                                <td class="textarea"><textarea rows="5"></textarea></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>


                            </fieldset>

                            <header>H) Problem Encountered</header>

                            <fieldset>
                                <div class="panel-body ">

                                    <div class="btn-group btn-group-sm pull-right">
                                        <button type="button" class="btn btn-success " id="addmef"><i class="fa fa-plus-circle"></i></button>
                                        <button type="button" class="btn btn-danger" id="minmef"><i class="fa fa-minus-circle"></i></button>
                                    </div>
                                    <br>
                                    <br>
                                    <table id="table-f" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Details:</th>
                                            </tr>
                                        </thead>
                                        <tbody id="appendheref">
                                            <tr>
                                                <td class="textarea"><textarea rows="5"></textarea></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>


                            </fieldset>

                            <header>Recommendations</header>
                            <!--Start of Status of Essential Drugs and Supplies in the Affected Ares-->

                            <fieldset>
                                <div class="panel-body ">

                                    <div class="btn-group btn-group-sm pull-right">
                                        <button type="button" class="btn btn-success " id="addmeg"><i class="fa fa-plus-circle"></i></button>
                                        <button type="button" class="btn btn-danger" id="minmeg"><i class="fa fa-minus-circle"></i></button>
                                    </div>
                                    <br>
                                    <br>
                                    <table id="table-g" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Details:</th>
                                            </tr>
                                        </thead>
                                        <tbody id="appendhereg">
                                            <tr>
                                                <td class="textarea"><textarea rows="5"></textarea></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>


                            </fieldset>

                            <header>Prepared and Submitted by:</header>

                            <fieldset>
                                <section>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Mobile No.:</label>
                                            <label class="input ">
												<input type="number" id="mobile">
											</label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Landline.:</label>
                                            <label class="input ">
												<input type="number" id="landline">
											</label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Fax No.:</label>
                                            <label class="input ">
												<input type="number" id="faxno">
											</label>
                                        </section>
                                    </div>
                                </section>
                                <section>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Date Prepared:</label>
                                            <label class="input ">
												<input type="date" id="datep">
											</label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="label">Printed Name</label>
                                            <label class="input ">
												<input type="text" id="printedn">
											</label>
                                        </section>

                                        <section class="col col-4 sign">
                                            <label class="label">Signature</label>

                                            <button type="button" class="btn btn-info  btn-sm  btn-block" data-toggle="modal" data-target="#exampleModal">
												CLICK TO SIGN
											  </button>

                                            <!-- Modal -->

                                        </section>
                                        <section class="col col-12 pull-right">
                                            <img id="sig-image" src="" alt="Your signature will go here!" />
                                        </section>

                                    </div>

                                </section>
                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-primary ">Submit</button>
                            </footer>
                        </form>
                        <!--/ Success states for elements -->

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
    </div>

</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
            <div class="modal-body sign">

                <canvas id="sig-canvas"> </canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="sig-clearBtn">Reset</button>
                <button type="button" class="btn btn-primary" id="sig-submitBtn">Save</button>
            </div>
        </div>
    </div>
</div>