<style>
    th {
        background-color: #57889c !important;
        color: white;
    }

    .th {
        background-color: #383838 !important;
        color: white;
    }

    .accordion {
        background-color: #eee;
        color: white;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active,
    .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-darken">

        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>(DepEd) Report on the Number of Evacuation Center and Other Details</h2>

        </header>

        <!-- widget div-->
        <div style="overflow-x:auto;overflow-y:auto;">



            <label class="input">
                <input type="text" name="name" ng-model="findcf"> <i class="icon-append fa fa-search"></i>
            </label>

            <label class="input pull-right">
                <label class="select ">Page Filter
                    <select ng-model="pageSize" ng-options="num for num in [5, 10, 15,20]"></select> <i></i>
                    <!-- <select name="options" id="pfilter">

                        <option value="10">10</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>

                    </select> <i></i>  -->
                </label>
            </label>

            <table id="data" class="table table-striped table-bordered table-hover" width="100%">

                <div id="notif"></div>

                <thead>
                    <tr>
                        <th colspan="16 pull-center" class="text-center th">Report on the Number of Evacuation Centers
                            and other Details (Disaster) </th>
                    </tr>
                    <!-- <tr>
                        <th colspan="3" class="text-center">Occurrence</th>
                        <th colspan="2" class="text-center">Event</th>
                        <th colspan="6" class="text-center">Exact Location</th>

                    </tr> -->

                    <tr>
                        <th>#</th>
                        <th>School ID </th>
                        <th>Name of School</th>
                        <th>Region</th>
                        <th>Division</th>
                        <th>District</th>
                        <th>Municipality </th>
                        <th>Enrollment</th>
                        <!-- <th class="text-center th">Total Schools with Report</th>
                        <th class="text-center th">Schools with Reported Infra Damages </th>
                        <th class="text-center th">Totally Damaged Classrooms </th> -->
                        <!-- <th class="text-center th">Resident Learners</th>
                        <th class="text-center th">Displaced Learners</th>
                        <th class="text-center th">TOTAL Affected Learners</th> -->
                        <!-- <th class="text-center th">Remarks</th> -->
                        <th colspan="3">Controls</th>

                    </tr>
                </thead>
                <tbody>

                    <tr class="text-center" ng-repeat="cf in data | startFrom:currentPage*pageSize | limitTo:pageSize |filter:findcf">
                        <td>{{$index + 1}}</td>
                        <td>{{cf.schoolID}}</td>
                        <td>{{cf.school}}</td>
                        <td>{{cf.region}}</td>
                        <td>{{cf.division}}</td>
                        <td>{{cf.district}}</td>
                        <td>{{cf.minicipality}}</td>
                        <td>{{cf.enrollment}}</td>
                        <td class="col col-4">

                            <button type="button" class="btn  btn-block btn-success " ng-click="selectUser(cf)"><i
                                    class="fa fa-pencil"></i> Edit Data</button>
                        </td>
                        <td class="col col-4">

                            <button type="button" class="btn btn-block btn-info" ng-click="printit(cf)"><i
                                    class="fa fa-print"></i> Print Data</button>
                        </td>
                        <td class="col col-4">

                            <button type="button" class="btn btn-block btn-danger" ng-click="selectUser2(cf)"><i
                                    class="fa fa-minus-circle"></i> Delete Data</button>

                        </td>
                        <!-- <td>{{data.totalSchool}}</td>
                        <td>{{data.schoolWithInfraDamage}}</td>
                        <td>{{data.totalDamageClassroom}}</td> -->
                        <!-- <td>{{data.residentLearners}}</td>
                        <td>{{data.displacedLearners}}</td>
                        <td>{{data.totalLearners}}</td>
                        <td>{{data.remarks}}</td> -->

                        <!-- <td><button type="button" class="btn btn-info btn-block btn-xs " ng-click="selectUser3(data)"><i class="icon-append fa fa-search"></i></button></td>
                        <td><button type="button" class="btn btn-success btn-block btn-xs " ng-click="selectUser(data)"><i class="icon-append fa fa-pencil" ></i></button></td>
                        <td><button type="button" class="btn btn-danger btn-block btn-xs " ng-click="selectUser2(data)"><i class="icon-append fa fa-minus-circle" ></i></button></td> -->
                    </tr>

                    <!-- <tr class="text-center" ng-repeat="data in camalig">
                        <td>{{$index + 1}}</td>
                        <td>Camalig</td>
                        <td>{{data.accomodated}}</td>
                        <td>{{data.host}}</td>
                        <td>{{data.families}}</td>
                        <td>{{data.individuals}}</td>
                        <td>{{data.classrooms}}</td>
                        <td>{{data.dateOfDecampment}}</td>
                        <td>{{data.dateOfEvacuation}}</td>
                        <td>{{data.remarks}}</td>

                        <td><button type="button" class="btn btn-info btn-block btn-xs " data-toggle="modal" data-target="#myModal"><i class="icon-append fa fa-search"></i></button></td>
                        <td><button type="button" class="btn btn-success btn-block btn-xs " data-toggle="modal" data-target="#myModal"><i class="icon-append fa fa-pencil"></i></button></td>
                        <td><button type="button" class="btn btn-danger btn-block btn-xs " data-toggle="modal" data-target="#myModal"><i class="icon-append fa fa-minus-circle"></i></button></td>
                    </tr>

                    <tr class="text-center" ng-repeat="data in guinobatan">
                        <td>{{$index + 1}}</td>
                        <td>Guinobatan</td>
                        <td>{{data.accomodated}}</td>
                        <td>{{data.host}}</td>
                        <td>{{data.families}}</td>
                        <td>{{data.individuals}}</td>
                        <td>{{data.classrooms}}</td>
                        <td>{{data.dateOfDecampment}}</td>
                        <td>{{data.dateOfEvacuation}}</td>
                        <td>{{data.remarks}}</td>

                        <td><button type="button" class="btn btn-info btn-block btn-xs " data-toggle="modal" data-target="#myModal"><i class="icon-append fa fa-search"></i></button></td>
                        <td><button type="button" class="btn btn-success btn-block btn-xs " data-toggle="modal" data-target="#myModal"><i class="icon-append fa fa-pencil"></i></button></td>
                        <td><button type="button" class="btn btn-danger btn-block btn-xs " data-toggle="modal" data-target="#myModal"><i class="icon-append fa fa-minus-circle"></i></button></td>
                    </tr> -->


                </tbody>



            </table>







        </div>

    </div>

    <!-- <span id="here"></span>
     -->

     <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
       Back
      </button>
        <button class="btn btn-primary">{{currentPage+1}} of {{numberOfPages()}}</button>
        <button class="btn btn-primary" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
      </button>
    </div>


</article>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 80%;height: 80%; ">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Info.</h4>
            </div>

            <div class="modal-body">


                <form class="smart-form">
                    <header>Report on the Number of Evacuation Centers and other Details (Disaster)</header>

                    <fieldset>
                        <section>

                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">School ID </label>
                                    <label class="input ">
                                        <input type="text" id="schoolID" ng-model="clickedUser.schoolID">
                                    </label>
                                </section>

                                <section class="col col-6">
                                    <label class="label">Name of School </label>
                                    <label class="input ">
                                        <input type="text" id="school" ng-model="clickedUser.school">
                                    </label>
                                </section>

                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Region</label>
                                    <label class="input ">
                                        <input type="text" id="region" ng-model="clickedUser.region">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Division</label>
                                    <label class="input ">
                                        <input type="text" id="division" ng-model="clickedUser.division">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">District </label>
                                    <label class="input ">
                                        <input type="text" id="district" ng-model="clickedUser.district">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Municipality</label>
                                    <label class="input ">
                                        <input type="text" id="municipality" ng-model="clickedUser.municipality">
                                    </label>
                                </section>

                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Enrollment</label>
                                    <label class="input ">
                                        <input type="text" id="enrollment" ng-model="clickedUser.enrollment">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Total Schools with Report</label>
                                    <label class="input ">
                                        <input type="text" id="totalSchool" ng-model="clickedUser.totalSchool">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Schools with Reported Infra Damages</label>
                                    <label class="input ">
                                        <input type="text" id="schoolWithInfraDamage"
                                            ng-model="clickedUser.schoolWithInfraDamage">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Totally Damaged Classrooms</label>
                                    <label class="input ">
                                        <input type="text" id="totalDamageClassroom"
                                            ng-model="clickedUser.totalDamageClassroom">
                                    </label>
                                </section>

                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Partially Damaged Classrooms (Major)</label>
                                    <label class="input ">
                                        <input type="text" id="partialDamageClassMajor"
                                            ng-model="clickedUser.partialDamageClassMajor">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Partially Damaged Classrooms (Minor)</label>
                                    <label class="input ">
                                        <input type="text" id="partialDamageClassMinor"
                                            ng-model="clickedUser.partialDamageClassMinor">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Temporary Learning Spaces needed</label>
                                    <label class="input ">
                                        <input type="text" id="temporaryLearning"
                                            ng-model="clickedUser.temporaryLearning">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Number of Deceased DepEd Personnel</label>
                                    <label class="input ">
                                        <input type="text" id="deceasedPersonnel"
                                            ng-model="clickedUser.deceasedPersonnel">
                                    </label>
                                </section>

                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Number of Injured DepEd Personnel</label>
                                    <label class="input ">
                                        <input type="text" id="injuredPersonnel"
                                            ng-model="clickedUser.injuredPersonnel">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Number of Missing DepEd Personnel</label>
                                    <label class="input ">
                                        <input type="text" id="missingPersonnel"
                                            ng-model="clickedUser.missingPersonnel">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Number of Displaced DepEd Personnel</label>
                                    <label class="input ">
                                        <input type="text" id="displacedPersonnel"
                                            ng-model="clickedUser.displacedPersonnel">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Total Classrooms used as Evacuation Center</label>
                                    <label class="input ">
                                        <input type="text" id="totalEvacSchool" ng-model="clickedUser.totalEvacSchool">
                                    </label>
                                </section>

                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">School as EC lasted for 3 days or more</label>
                                    <label class="select ">
                                        <select id="ECLasted" ng-model="clickedUser.ECLasted">
                                            <!-- <option value="0">Choose Municipality</option> -->
                                            <option value="Yes" selected>Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Total Schools with Report</label>
                                    <label class="input ">
                                        <input type="text" id="totalSchoolReport"
                                            ng-model="clickedUser.totalSchoolReport">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Schools with Reported Non-Infra Damages</label>
                                    <label class="input ">
                                        <input type="text" id="schoolWithNonInfraDamage"
                                            ng-model="clickedUser.schoolWithNonInfraDamage">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Number of damaged school furnitures</label>
                                    <label class="input ">
                                        <input type="text" id="damagedSchoolFurnitures"
                                            ng-model="clickedUser.damagedSchoolFurnitures">
                                    </label>
                                </section>

                            </div>

                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Number of damaged learning materials </label>
                                    <label class="input ">
                                        <input type="text" id="damagedLearningMaterials"
                                            ng-model="clickedUser.damagedLearningMaterials">
                                    </label>
                                </section>

                                <section class="col col-6">
                                    <label class="label">Number of damaged computer equipment </label>
                                    <label class="input ">
                                        <input type="text" id="damagedComputerEquipment"
                                            ng-model="clickedUser.damagedComputerEquipment">
                                    </label>
                                </section>

                            </div>
                            <i></i>
                            <!-- <div class="note note-success">Thanks for your selection.</div> -->
                        </section>
                    </fieldset>

                    <footer>
                        <button type="button" id="submit" class="btn btn-success" ng-click="updateUser()">Save</button>
                        <button type="button" class="btn btn-primary" ng-click="close()">close</button>
                    </footer>
                </form>

            </div>

        </div>

    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Info.</h4>
            </div>
            <div class="modal-body">


                <p>You want to delete <strong style="color: red;">{{clickedUser.school}}</strong> from <strong
                        style="color: red;">{{clickedUser.municipality}} {{clickedUser.division}}</strong>?</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="close()">No</button>
                <button type="button" class="btn btn-danger" ng-click="deleteUser()">Yes</button>
            </div>


        </div>

    </div>
</div>

<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Continuation Info.</h4>
            </div>
            <style>
                th {
                    background-color: #57889c !important;
                    color: white;
                }
            </style>

            <div class="modal-body">


                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="true"
                    style="margin-bottom: 5px!important;margin-top: 5px!important;margin-left: -11px!important;margin-right: -11px!important;">
                    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false" 
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    </header>

                    <!-- widget div-->
                    <div style="overflow-x:auto;">



                        <!-- <label class="input">
                            <input type="text" name="name" ng-model="findcoa"> <i
                                class="icon-append fa fa-search"></i>
                        </label> -->
                        <!-- <label class="input pull-right">
                            <label class="select ">Page Filter
                                <select name="options" id="pfilter">

                                    <option value="10">10</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>

                                </select> <i></i> </label>
                        </label> -->
                        <br>

                        <table id="data" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>

                                <tr>
                                    <th colspan="16 pull-center" class="text-center th">Report on the Number of
                                        Evacuation Centers and other Details (Disaster)</th>
                                </tr>

                                <tr>
                                    <th class="text-center th">Partially Damaged Classrooms (Major) </th>
                                    <th class="text-center th">Partially Damaged Classrooms (Minor) </th>
                                    <th class="text-center th">Number of Deceased DepEd Personnel</th>
                                    <th class="text-center th">Number of Deceased DepEd Personnel</th>
                                    <th class="text-center th">Number of Injured DepEd Personnel</th>
                                    <th class="text-center th">Number of Missing DepEd Personnel</th>
                                    <th class="text-center th">Number of Displaced DepEd Personnel </th>
                                    <th class="text-center th">Total Classrooms used as Evacuation Center </th>
                                    <th class="text-center th">School as EC lasted for 3 days or more (YES/NO)</th>
                                    <th class="text-center th">Total Schools with Report</th>
                                    <th class="text-center th">Schools with Reported Non-Infra Damages </th>
                                    <th class="text-center th">Number of damaged school furnitures</th>
                                    <th class="text-center th">Number of damaged learning materials</th>
                                    <th class="text-center th">Number of damaged computer equipment</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="text-center">
                                    <td>{{clickedUser.partialDamageClassMajor}}</td>
                                    <td>{{clickedUser.partialDamageClassMinor}}</td>
                                    <td>{{clickedUser.temporaryLearning}}</td>
                                    <td>{{clickedUser.deceasedPersonnel}}</td>
                                    <td>{{clickedUser.injuredPersonnel}}</td>
                                    <td>{{clickedUser.missingPersonnel}}</td>
                                    <td>{{clickedUser.displacedPersonnel}}</td>
                                    <td>{{clickedUser.totalEvacSchool}}</td>
                                    <td>{{clickedUser.ECLasted}}</td>
                                    <td>{{clickedUser.totalSchoolReport}}</td>
                                    <td>{{clickedUser.schoolWithNonInfraDamage}}</td>
                                    <td>{{clickedUser.damagedSchoolFurnitures}}</td>
                                    <td>{{clickedUser.damagedLearningMaterials}}</td>
                                    <td>{{clickedUser.damagedComputerEquipment}}</td>

                                </tr>


                            </tbody>



                        </table>






                    </div>

                </div>

                <span id="here"></span>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
                    <!-- <button type="button" class="btn btn-danger" ng-click="deleteUser()">Yes</button> -->
                </div>


            </div>
        </div>

    </div>
</div>
<div id="printit" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 100%;height: 100%; ">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Preview</h4>
            </div>
            <div id="printThis">
                <div class="modifyMe">
                    <div class="modal-body">

                        <center>
                            <section>
                                <h4> <strong> RAPID ASSESSMENT OF DAMAGES REPORT(RADaR)
                                        <br> SDO ALBAY <strong> </h4>
                            </section>

                            <!-- <section>
                                <h3>
                                    <strong> REPORT ON THE NUMBER OF EVACUATION CENTERS AND OTHER DETAILS <br> As of
                                        {{time}}{{mid}}, {{datetoday}}</strong>
                                </h3>
                            </section> -->
                        </center>


                        <div>

                            <!-- <div class="panel-body ">
                                <caption> SECTOR/CLUSTER: <u>{{clickedUser.sector}} </u> </caption> <br>
                                <caption> CLUSTER LEAD AGENCY: <u>{{clickedUser.leadAgency}}</u> </caption><br><br>
                            </div> -->

                            <div class="panel-body ">

                                <table id="table-example-1" width="100%">

                                    <thead>
                                        <tr>
                                            <th>School ID</th>
                                            <th>Name of School</th>
                                            <th>Region</th>
                                            <th>Division</th>
                                            <th>District</th>
                                            <th>Municipality</th>
                                            <th>Enrollment</th>
                                            <th>Total Schools with Report</th>
                                            <th>Schools with Reported Infra Damages </th>
                                            <th>Totally Damaged Classrooms</th>
                                            <th>Partially Damaged Classrooms (Major)</th>
                                            <th>Partially Damaged Classrooms (Minor)</th>
                                            <!-- <th rowspan="2">Displaced Learners</th>
                                            <th rowspan="2">TOTAL Affected Learners</th>
                                            <th rowspan="2">Resident personnel</th>

                                            <th class="text-center " colspan="2">Affected Personnel: Displaced 
                                            <th rowspan="2">Total affected personnel</th>
                                            <th rowspan="2">Total number of classrooms</th>
                                            <th rowspan="2">No. of classrooms used</th>
                                            <th rowspan="2">No. of needed TLS </th>
                                            <th rowspan="2">TOTAL approved TLS</th>
                                            <th rowspan="2">Additional TLS Needed</th> -->
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="ncf in usersClicked.center">

                                            <td class="text-left col-md-3 no-bottom-border">
                                                {{ncf['Division']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Number (Division)']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Municipality']}}
                                            </td>

                                            <td class=" ">
                                                {{ncf['Number (Municipality)']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Schools used as Evacuation Centers']}}
                                            </td>

                                            <td class=" ">
                                                {{ncf['Number (Schools)']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Affected Schools within the Permanent Danger Zone']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Number of families']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Number of individuals']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Resident Learners']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Resident Learners']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Resident Learners']}}
                                            </td>
                                            <!-- <td class=" ">
                                                {{ncf['Remarks']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Remarks']}}
                                            </td> -->

                                        </tr>

                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="text-right">
                                                Total
                                            </td>
                                            <td>
                                                {{clickedUser.total1}}
                                            </td>
                                            <td></td>
                                            <td>
                                                {{clickedUser.total2}}
                                            </td>
                                            <td></td>
                                            <td>
                                                {{clickedUser.total3}}
                                            </td>
                                            <td></td>
                                            <td>
                                                {{clickedUser.total4}}
                                            </td>
                                            <td>
                                                {{clickedUser.total5}}
                                            </td>
                                            <td>
                                                {{clickedUser.total6}}
                                            </td>
                                            <td>
                                                {{clickedUser.total6}}
                                            </td>
                                            <td>
                                                {{clickedUser.total6}}
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>

                                <br>

                                <table id="table-example-1" width="100%">

                                    <thead>
                                        <tr>
                                            <th>Temporary Learning Spaces needed</th>
                                            <th>Number of Deceased DepEd Personnel</th>
                                            <th>Number of Injured DepEd Personnel</th>
                                            <th>Number of Missing DepEd Personnel</th>
                                            <th>Number of Displaced DepEd Personnel</th>
                                            <th>Total Classrooms used as Evacuation Center</th>
                                            <th>School as EC lasted for 3 days or more (YES/NO)</th>
                                            <th>Total Schools with Report</th>
                                            <th>Schools with Reported Non-Infra Damages</th>
                                            <th>Number of damaged school furnitures</th>
                                            <th>Number of damaged learning materials</th>
                                            <th>Number of damaged computer equipment</th>
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="ncf in usersClicked.center">

                                            <td class="text-left col-md-3 no-bottom-border">
                                                {{ncf['Displaced Learners']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['TOTAL Affected Learners']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Resident personnel']}}
                                            </td>

                                            <td class=" ">
                                                {{ncf['Affected Personnel (Displaced)']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Affected Personnel (Evacuee)']}}
                                            </td>

                                            <td class=" ">
                                                {{ncf['Total affected personnel']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Total number of classrooms']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Number of classrooms used']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Number of needed TLS']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['TOTAL approved TLS']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Additional TLS Needed']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Additional TLS Needed']}}
                                            </td>
                                            <td class=" ">
                                                {{ncf['Additional TLS Needed']}}
                                            </td>

                                        </tr>

                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <!-- <td></td> -->
                                            <!-- <td class="text-right">
                                                Total
                                            </td> -->
                                            <!-- <td></td> -->
                                            <td>
                                                {{clickedUser.total7}}
                                            </td>
                                            <td>
                                                {{clickedUser.total8}}
                                            </td>
                                            <td>
                                                {{clickedUser.total9}}
                                            </td>
                                            <td>
                                                {{clickedUser.total10}}
                                            </td>
                                            <td>
                                                {{clickedUser.total11}}
                                            </td>
                                            <td>
                                                {{clickedUser.total12}}
                                            </td>
                                            <td>
                                                {{clickedUser.total13}}
                                            </td>
                                            <td>
                                                {{clickedUser.total14}}
                                            </td>
                                            <td>
                                                {{clickedUser.total15}}
                                            </td>
                                            <td>
                                                {{clickedUser.total16}}
                                            </td>
                                            <td>
                                                {{clickedUser.total17}}
                                            </td>
                                            <td>
                                                {{clickedUser.total17}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                            <br>
                            <div class="panel-body">

                                <section id="spansigr">

                                    <strong style="float: right;"> Noted By: <br> <img src="{{clickedUser.signature2}}"
                                            alt="" width="100" height="100">
                                        <h4> &emsp;&emsp;&emsp;&emsp;{{clickedUser.noted}} </h4>
                                    </strong>
                                </section>


                                <section id="spansigl">
                                    <strong>Prepared and Consolidated by:</strong><br>
                                    <!-- <strong><h4>{{clickedUser.pban1}} <br>{{clickedUser.pban1d}} </h4></strong> -->
                                    <img src="{{clickedUser.signature}}" alt="" width="100" height="100">
                                    <strong>
                                        <h4>&emsp;&emsp;&emsp;&emsp;{{clickedUser.preparedBy}} </h4>
                                    </strong>

                                </section>

                                <section id="spansigr">

                                    <strong style="float: right;"> Approved By: <br> <img src="{{clickedUser.signature2}}"
                                            alt="" width="100" height="100">
                                        <h4> &emsp;&emsp;&emsp;&emsp;{{clickedUser.noted}} </h4>
                                    </strong>
                                </section>

                                <section id="spansigl">
                                    <strong>Recommending Approval:</strong><br>
                                    <!-- <strong><h4>{{clickedUser.pban1}} <br>{{clickedUser.pban1d}} </h4></strong> -->
                                    <img src="{{clickedUser.signature3}}" alt="" width="100" height="100">
                                    <strong>
                                        <h4>&emsp;&emsp;&emsp;&emsp;{{clickedUser.approvedBy}} </h4>
                                    </strong>

                                </section>
                                <!-- <section>
                                    <strong>LEGEND:</strong><br>
                                    <caption>&emsp;&emsp;&emsp;&emsp; M - Male</caption><br>
                                    <caption>&emsp;&emsp;&emsp;&emsp; F - Female</caption><br>
                                    <caption>&emsp;&emsp;&emsp;&emsp; FM - Family Member</caption><br>
                                    <caption>&emsp;&emsp;&emsp;&emsp; L/P - Lactating/Pregnant</caption><br>
                                    <caption>&emsp;&emsp;&emsp;&emsp; PWDs - Persons with Disabilities</caption><br>
                                    <caption>&emsp;&emsp;&emsp;&emsp; SP - Solo Parent</caption><br>
                                </section> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>