<style>
    th {
        background-color: #57889c !important;
        color: white;
        padding: 10px;
        margin: 10px;
    }
</style>
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="true" style="margin-bottom: 3px!important;">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false" 
        data-widget-collapsed="true"
        data-widget-sortable="false"
        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Status Of Evacuation Center List</h2>

        </header>

        <!-- widget div-->
        <div>



            <label class="input">
                <input type="text" name="name" ng-model="findcf"> <i class="icon-append fa fa-search"></i>
            </label>

            <label class="input pull-right">
                <label class="select ">Page Filter
                    <select name="options" id="pfilter">

                        <option value="10">10</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>

                    </select> <i></i> </label>
            </label>

            <table id="data" class="table table-striped table-bordered table-hover" width="100%">

                <div id="notif"></div>
                <thead>
                    <tr>
                        <th colspan="5" class="th"></th>
                        <th colspan="2" class="text-center th">Population (2014)</th>
                        <th colspan="1" class="text-center th"></th>
                        <th colspan="5" class="text-center th">No of Rooms Occupied of the Operation</th>
                        <th colspan="2" class="text-center th">Inside Evac</th>
                        <th colspan="2" class="text-center th">Outside Evac</th>
                        <th colspan="2" class="text-center th">Total</th>
                        <th colspan="2" class="text-center th">Relief Goods Distributed</th>
                        <th colspan="4" class="text-center th"></th>
                    </tr>
                    <tr>

                        <th>Type of Disaster</th>
                        <th>Place Of Occurence</th>
                        <th>As of </th>
                        <th>Barangay</th>
                        <th>Distance from</th>

                        <th>Female</th>
                        <th>Male</th>

                        <th>Evac Centers</th>
                        <th>Evacuees</th>
                        <th>Tents Covered Court</th>
                        <th>ROC</th>
                        <th>Health</th>
                        <th>Other uses</th>
                        <th>F</th>
                        <th>FM</th>
                        <th>F</th>
                        <th>FM</th>
                        <th>F</th>
                        <th>FM</th>
                        <th>From Donors</th>
                        <th>From LGU</th>
                        <th style="width: 10%;">Remarks</th>
                        <th colspan="3">Action</th>
                    </tr>
                    <tbody ng-repeat="cfs in cfss  | filter: findcf">

                        <tr ng-repeat="cf in cfs['details']">


                            <td>{{cfs.type_disaster}}</td>
                            <td>{{cfs.place_occurence}}</td>
                            <td>{{cfs.asof}} </td>


                            <td>{{cf.Barangay}}</td>
                            <td>{{cf['Distance from']}}</td>
                            <td>{{cf['Female']}}</td>
                            <td>{{cf['Male']}}</td>
                            <td>{{cf['Evac Centers']}}</td>


                            <td>{{cf.Evacuees}}</td>
                            <td>{{cf['Tents Covered Court']}}</td>
                            <td>{{cf['ROC']}}</td>
                            <td>{{cf['Health']}}</td>
                            <td>{{cf['Other uses']}}</td>



                            <td>{{cf.F}}</td>
                            <td>{{cf['FM']}}</td>
                            <td>{{cf['F']}}</td>
                            <td>{{cf['FM']}}</td>
                            <td>{{cf['F']}}</td>
                            <td>{{cf['FM']}}</td>

                            <td>{{cf['From Donors']}}</td>
                            <td>{{cf['From LGU']}}</td>
                            <td>{{cf['Remarks']}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs" ng-click="selectUser(cf)"><i
                                            class="fa fa-pencil"></i></button> </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="selectUser2(cf)"><i
                                            class="fa fa-minus-circle"></i></button>
                            </td>

                        </tr>


                    </tbody>

                </thead>
                <!-- <tbody ng-repeat="cf in cfs  | filter: findcf">

                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.place_occurence}}</td>
                    <td>{{cf.asof}} </td>

                    <i ng-repeat="ncf in cf.i0">
                        <td>{{ncf.Barangay}}</td>
                        <td>{{ncf['Distance from']}}</td>
                        <td>{{ncf['Female']}}</td>
                        <td>{{ncf['Male']}}</td>
                        <td>{{ncf['Evac Centers']}}</td>
                    </i>

                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>
                    <td>{{cf.type_disaster}}</td>




                    <td>
                        <button type="button" class="btn btn-success btn-xs" ng-click="selectUser(cf)"><i
                                    class="fa fa-pencil"></i></button> </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="selectUser2(cf)"><i
                                    class="fa fa-minus-circle"></i></button>

                    </td>


                </tbody> -->


            </table>






        </div>

    </div>

    <span id="here"></span>
</article>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 80%;height: 80%; ">

        <!-- Modal content-->
        <div class="modal-content">



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Info.</h4>
            </div>

            <div class="modal-body">


            </div>

        </div>

    </div>
</div>